<!DOCTYPE html>
<html>
<head>
    <title>College Notices</title>
</head>

<body>

    <h1>📢 College Notices</h1>

    <h2>Welcome, {{ student.name }} 👋</h2>

    <p>
        <strong>Class:</strong>
        {{ student.class_name }}
    </p>

    <hr>

    <h3>🔔 Internal Examination</h3>
    <p>
        Internal examinations will start from September 10.
    </p>

    <hr>

    <h3>🔔 Holiday Notice</h3>
    <p>
        College will remain closed on September 5.
    </p>

    <hr>

    <h3>🔔 Python Assignment</h3>
    <p>
        Python assignment submission deadline is September 8.
    </p>

    <br>

    <a href="/dashboard">
        <button>⬅ Back to Dashboard</button>
    </a>

</body>
</html>